 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I'm Paul. I'm studying Software Engineering at the University of Waterloo. I'm a curious and motivated to learn. I've been programming since high-school where most of my programming was practicing or participating in CS competitions.</p>
                </div>
                <div class="col-lg-4">
                  <p>I have some experience with iOS development as well as web dev. You can also see other stuff I'm working on, over at my <a href="http://github.com/pbardea">Github</a> profile. </p>
                  <p>When I'm not hacking away, you'll usually find me taking pictures or out running.</p>
                </div>
            </div>
        </div>
    </section>
